.btn-primary{
   background-color: #4E47FF;
   width: 20px;
   height: 5px;
   color: white;
   border-radius: 5px;
   padding:10px 20px ;
   text-align: center;
   border: 2 2 2 2;
   text-decoration: none;
}
.background{
    background-image: url(./Assets/Hero-bg.png);
    background-position:top left, bottom right;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    max-height: 150px;
    margin: 0 300px 50px 300px;
}
 section{
     text-align: center;
     margin-top: 100px;
 }
 h3{
    font-weight: bold;
    font-size: 2em;
 }
 h4{
    color: #4E47FF;
    font-weight: bolder;
    size: 3em;
 }
 .action{
    display: flex;
   justify-content: space-between;
   margin: 150px 300px 50px 300px;
}
.heading{
    max-width: 400px;
    height: 200px;
    text-align: center;
    margin: 20px 300px 0px 550px;
}
.productive-user{
    background-color: #dddce5;
    margin: 20px 300px 50px 300px;
}
.statistics-title, .users-say{
    text-align: center;
    margin-top: 100px;
}
.numbers-tag {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.comment-primary{
    display: flex;
    text-align: center;
    justify-content: space-evenly; 
    margin: 0px 300px 50px 300px; 
    padding: 10px 30px 5px 5px;
}
.yellow-star{
    color: yellow;
    text-align: left;
}
.in-touch{
    display: flex;
     text-align: center;
     justify-content: space-evenly; 
    margin: 0px 300px 50px 300px; 
}
.left-title{
    text-align: justify;
    font-size: 3em;
}
.links{
    justify-content: space-evenly; 
    text-align: center;
    margin: 5px 50px 50px 100px;
    text-decoration: none;
}
.h1{
    color: #4E47FF;
    font-weight: bolder;
    size: 4em;
    text-align: center;
}
.footer{
    text-align: center;
    margin: 20px 300px 50px 600px;
    margin-left: 400px;
}