.btn-primary{
   background-color: #4E47FF;
   width: 25px;
   height: 5px;
   color: white;
   border-radius: 6px;
   padding: 15px 20px ;
   text-align: center;
   border: 2 2 2 2;
   text-decoration: none;
   justify-content: flex-end;
   font-size: x-small;
   
}
.heading{
    max-width: 400px;
    height: 250px;
    text-align: center;
    margin: 100px 300px 0px 450px;
}
.background{
    background-image: url(./Assets/Hero-bg.png);
    background-position:top left, bottom right;
    background-repeat: no-repeat;

}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 300px 50px 300px;
    
}
 section{
     text-align: center;
     margin-top: 100px;
 }
 .light-text{
    color: #8987A1;
    text-align: left;
 }
 h3{
    font-weight: bold;
    font-size: 2em;
 }
 h4{
    color: #4E47FF;
    font-weight: bolder;
    size: 3em;
 }
 .action{
    display: flex;
   justify-content: space-between;
   margin: 150px 300px 50px 300px;
}

.productive-user{
    background-color: #dddce5;
    margin: 20px 300px 50px 300px;
}
.statistics-title, .users-say{
    text-align: center;
    margin-top: 100px;
}
.action-sub{

text-align: left;
}
.numbers-tag {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.comment-primary{
    display: flex;
    text-align: center;
    justify-content: space-evenly; 
    margin: 0px 300px 50px 300px; 
    padding: 10px 30px 5px 5px;
}
.yellow-star{
    color: yellow;
    text-align: left;
}
.in-touch{
    display: flex;
     text-align: center;
     justify-content: space-evenly; 
    margin: 0px 300px 50px 300px; 
}
.left-title{
    text-align: justify;
    font-size: 3em;
}
.links{
    justify-content: space-evenly; 
    text-align: center;
    margin: 5px 50px 50px 100px;
    text-decoration: none;
}
.focus-betterr{
    text-align:center
    margin: 50px 300px 100px 400px;
}
.h1{
    color: #4E47FF;
    font-weight: bolder;
    size: 4em;
    text-align: center;
}

.logo{
    color: blue;
    text-align: center;
    size: 8em;
}
.footer, .footer-text, .links{
    text-align: center;
    color: #8987A1;
   text-decoration: none;
   justify-content: space-around;
    
}